body {
    background-color: rgb(190, 197, 203);

    color: #151B3B
}

h1 {
    font-size: 3em;
    margin: 30px 30px 30px 0px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
}


#output {
    color: rgb(122, 32, 32);
    font-size: 22px
}


.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text {
    flex: 1;
    margin-right: 20px;
}

.imgContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.imgContainer img {
    width: 8vw;
    height: 8vh;
    max-width: 200px;
    height: auto;
}


@media (max-width: 600px) {

    h1 {
        margin: 12px 12px 12px 0px;
        font-size: 2em;
    }

    .content {
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }

    .text {
        margin: 0 10px 20px 10px;
        width: 100%;
    }

    .imgContainer {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .imgContainer img {
        max-width: 100px;
        height: auto;
    }
}


@media (max-width: 400px),
(max-height: 400px) {
    h1 {
        margin: 8px 8px 8px 0px;
    }
}

.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}